.loading {
    position:fixed;
    left: 30%;
    top: 30%;
    z-index:9999;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.loading-logo {
    width:50%; 
    height:auto;
    padding-top: 10%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
