.loading {
    position:fixed;
    left: 30%;
    top: 20%;
    width:100%;
    height:100%;
    z-index:9999;
}

.loading-nav {
    display: flex;
    justify-content: space-around;
}

.loading-logo {
    padding: 0 0;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
