.navbar {
    background-color: #F6AEB9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    height: 10vh;
    width: 10vh;
    padding-left: 1%;
}

.container-fluid {
    padding: 0 0 !important;
}

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #F05A24;
    font-style: normal;
    text-align: center;
    text-decoration: none;
  }