html, body, #root{
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}
.container-fluid {
  background-color: #F6EEE3;
}
.App-link {
  color: #61dafb;
}

.btn {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 700 !important;
  width: 100% !important;
  background-color: #F6AEB9 !important;
  color: black !important;
  /* overflow: hidden !important; */
  /* border-radius: 3px !important; */
}
.btn:hover {
  background-color: #a53911 !important;
  color: #F6EEE3 !important;
}

.card-body {
  padding: 0 !important;
  text-align:center;
}

.board-margins {
  padding: 0 10%;
}

.card {
  font-size: 20px;
  padding-top: 5%;
  margin-top: 30%;
}